textarea {
    width: 100%;
    min-height: 20em;
    height: 80%;
    white-space: pre;
    overflow-wrap: normal;
    overflow-x: scroll;
    font-family: monospace;
}

button {
    margin-top: 1em;
    padding: 1em 5em;
}
